@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Quicksand&family=Lobster&family=Pacifico&family=Cairo&family=Pinyon+Script&family=Great+Vibes&family=Josefin+Sans:wght@300&family=Pathway+Extreme:wght@300&display=swap');

.font-quicksand { font-family: 'Quicksand', sans-serif; }
.font-lobster { font-family: 'Lobster', cursive; font-weight: 300; }
.font-pacifico { font-family: 'Pacifico', cursive; }
body {
    background: #f5f5f5;
    padding-bottom: 0%;
    margin: 0;
}
a { 
   text-decoration: none;
   font-size: 2em; 
   color: #9d8361; 
   font-style: italic; 
  }
/* العنوان فوق */
.top-section {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color:#66281f;
    margin-bottom: 35px;
}

.top-section h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.rating-box {
    margin-bottom: 15px;
}

.stars {
    color: #f4c430;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.rating-text {
    margin-left: 10px;
    color: #555;
}

/* زر Write a Review */
.review-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #a9332b;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Pacifico', cursive;
}

/* كروت الريفيو */
.reviews-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
   
}

.review-card {
    width: 240px;
     box-shadow: 0 0 6px;
    color:#a9332b;
    border: none;
    background: #f0e9e9;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    font-family: 'Pacifico', cursive;
}
.review-card:hover{
     transform: translateY(-9px);
}

/* الدايرة */
.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #a9332b;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar img {
    width: 78%;
}

.date {
    color: #777;
    font-size: 13px;
    margin: 6px 0;
}

.text {
    color: #444;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Pacifico', cursive;
}

nav { 
    background:#66281f; 
    width:100%; 
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#66281f;
    overflow: visible; 
}


.menu-dropdown-container {
    position: relative;
    display: inline-block; 
}


.navigation a {
    font-family:'Poppins', sans-serif;
    color:#e6e5d5;
    font-size:20px;
    padding:8px 12px; 
    transition:0.3s;
}
.navigation a:hover {
    color:#e6e5d5;
    border-radius:4px;
}


.menu-btn {
    cursor:pointer;
    padding:8px 12px;
    color:#e6e5d5;
}


#menu-toggle { 
    display:none; 
}

.menu-list {
    list-style:none;
    position:absolute; 
    top:100%;
    left:0;
    z-index: 10000; 
    
    background:#66281f;
    width:180px;
    border-radius:6px;
    display:none;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}


.menu-list li,
.menu-list li p {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-list li a {
    display: block; 
    padding: 10px 15px; 
    font-size: 18px;
    color: #e6e5d5;
    margin: 0; 
    line-height: normal;
}


#menu-toggle:checked ~ .menu-list {
    display: block !important; 
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

footer {
  background-color: #66281f;
    color: #e6e5d5;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
 
.social-media-icons a {
  display:flex;
  justify-content:center;
  align-items: center ;
  gap:60px;
  margin-top:10%;
  width: 100%;
  padding-bottom: 20px;
}


h6 {
   font-size: 3em;
   color: #e6e5d5;
   padding: 20px; 
   margin-bottom: 0;
  }
  .back-to-top{
    color:#e6e5d5;
    font-family: quicksand;
  }

