@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Quicksand&family=Lobster&family=Pacifico&family=Cairo&family=Pinyon+Script&family=Great+Vibes&family=Josefin+Sans:wght@300&family=Pathway+Extreme:wght@300&display=swap');


.font-lobster { font-family: 'Lobster', cursive; font-weight: 300; }
.font-quicksand { font-family: 'Quicksand', sans-serif; }
body {
    font-family: Arial, sans-serif;
    padding: 0 0;
    margin:0 0;
}

a { 
   text-decoration: none;
   font-size: 2em; 
   color: #9d8361; 
   font-style: italic; 
  }
nav {
    background: #66281f;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #66281f;
    overflow: visible;
}


.menu-dropdown-container {
    position: relative;
    display: inline-block;
}


.navigation a {
    font-family: 'Poppins', sans-serif;
    color: #e6e5d5;
    font-size: 20px;
    padding: 8px 12px;
    transition: 0.3s;
}

.navigation a:hover {
    color: #e6e5d5;
    border-radius: 4px;
}


.menu-btn {
    cursor: pointer;
    padding: 8px 12px;
    color: #e6e5d5;
}


#menu-toggle {
    display: none;
}

.menu-list {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;

    background: #66281f;
    width: 180px;
    border-radius: 6px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.menu-list li,
.menu-list li p {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-list li a {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: #e6e5d5;
    margin: 0;
    line-height: normal;
}


#menu-toggle:checked~.menu-list {
    display: block !important;
}

.soup-header {
    font-family: 'Pacifico', cursive;
    background-color: #f0e9e9;
    padding: 40px 20px;
    z-index: 10;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.logo {
    width: 400px;
    height: 600px;
    flex: 350px;
    margin-top: -2px;
    display: inline-block;
}

.video-container {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}


.offer-cloud {
    background: #ffffff;
    padding: 20px 30px;
    font-size: 26px;
    font-weight: bold;
    color: #8d1717;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: inline-block;
}


.bold {
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    color: #212121;
}

.light {
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    color: #8d1717;
}

.our {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #66281f;
     font-family: 'Pacifico', cursive;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

}

.product-card {
    box-shadow: 0 0 6px;
    color:#a9332b;
    border: none;
    background: #f0e9e9;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}
.product-card:hover{
 transform: translateY(-9px);
}
.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

.product-name {
    color:#66281f;
    font-size: 18px;
    margin-bottom: 5px;
}

.product-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.product-price {
    color:#66281f;
    font-weight: bold;
    margin-bottom: 10px;
}

.d {
    margin-right: 10px;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

footer {
    background-color: #66281f;
    color: #e6e5d5;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.social-media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 10%;
    width: 100%;
    padding-bottom: 20px;
}


h6 {
    font-size: 3em;
    color: #e6e5d5;
    padding: 20px;
    margin-bottom: 0;
}

.back-to-top{
    color:#e6e5d5;
    font-family: quicksand;
  }