@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Quicksand&family=Lobster&family=Pacifico&family=Cairo&display=swap');
.font-quicksand { font-family: 'Quicksand', sans-serif; }
a { 
   text-decoration: none;
   font-size: 2em; 
   color: #9d8361; 
   font-style: italic; 
  }
nav { 
    background:#66281f; 
    width:100%; 
    margin-bottom: 0;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#66281f;
    overflow: visible; 
}


.menu-dropdown-container {
    position: relative;
    display: inline-block; 
}


.navigation a {
    font-family:'Poppins', sans-serif;
    color:#e6e5d5;
    font-size:20px;
    padding:8px 12px; 
    transition:0.3s;
}
.navigation a:hover {
    color:#e6e5d5;
    border-radius:4px;
}


.menu-btn {
    cursor:pointer;
    padding:8px 12px;
    color:#e6e5d5;
}


#menu-toggle { 
    display:none; 
}

.menu-list {
    list-style:none;
    position:absolute; 
    top:100%;
    left:0;
    z-index: 10000; 
    
    background:#66281f;
    width:180px;
    border-radius:6px;
    display:none;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}


.menu-list li,
.menu-list li p {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-list li a {
    display: block; 
    padding: 10px 15px; 
    font-size: 18px;
    color: #e6e5d5;
    margin: 0; 
    line-height: normal;
}


#menu-toggle:checked ~ .menu-list {
    display: block !important; 
}


body{
    margin: 0;
    padding: 0;
}

header{
background-image: url(img/head2.jpg);
background-size: cover;
padding: 0;
background-repeat: repeat;
background-position: center;
min-height: 200px;
margin-top: 0;
}
h1{
  font-size: 5.2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color:#66281f;
  font-family: 'Pacifico', cursive;
 
}
h2{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color:#66281f;
  font-family: 'Pacifico', cursive;
}
.vitem{
    display: flex;
    justify-content: center;
    align-items: center;
}
figure{
    display: inline-block;
    align-items: center;
    padding: 20px 20px;
    margin: 0;
}
.cookie,.cupcake,.cakes,.newitem{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.maincategory img{
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.itemgrid{
    box-shadow: 0 0 6px;
    color:#a9332b;
    border: none;
    background: #f0e9e9;
    border-radius: 10px;
    transition: 0.3s;
 
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    position: relative;
}
.itemgrid:hover{
    transform: translateY(-9px);
}
figcaption{
text-align: center;
font-weight: bold;
}
.nameofitem{
    color:#66281f;
    font-size:x-large;
    font-family: 'Quicksand', sans-serif;
    
}
.flavor{
    font-size: large;
 font-family: 'Pacifico', cursive;
}
.price{
     font-size: large;
     font-family: 'Quicksand', sans-serif;
}
.font-lobster {
    font-family: 'Lobster', cursive;
}

footer {
  background-color: #66281f;
    color: #e6e5d5;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
 
.social-media-icons a {
  display:flex;
  justify-content:center;
  align-items: center ;
  gap:60px;
  margin-top:10%;
  width: 100%;
  padding-bottom: 20px;
}


h6 {
   font-size: 3em;
   color: #e6e5d5;
   padding: 20px; 
   margin-bottom: 0;
  }
  .back-to-top{
    color:#e6e5d5;
    font-family: quicksand;
  }